$bg-color: white ;

.header{
    display: flex;
    background: $bg-color;
    height: 68px;
    width: 100%;
    max-width: 1240px;
    margin: 32px auto;
    


    img{
        max-height: 68px;
        width: clamp(145px, 30vw, 211px);;
        height: 100%;
        object-fit: contain;
        margin-right: auto;
    }

    ul{
        display: flex;
        list-style: none;
        gap: clamp(10px, 3vw, 57px);
        padding: 0;    


        li{

            a{
                color: black;
                font-size: clamp(12px, 3vw, 24px);
                font-weight: 500;
                text-decoration: none;


                &.active {
                text-decoration: underline;
                }


            }

        }

    }


@media (max-width: 375px) {
    max-width: 335px;
    margin: 20px 10px;
    

    img{
        max-width: 145px;
        max-height: 47px;
    }


    ul{
        gap: 26px;

        li{
            a{
                font-size: 12px;                
            }

        }

    }













  }









}

