

$bg-container-card-color : #F6F6F6;



.container_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
    background-color: $bg-container-card-color;
    padding-top: 45px;
    padding-bottom: 45px;




    @media (max-width: 375px) {
        background-color: transparent;
        padding: 0;
        margin-bottom: 27px;
        gap: 22px;

    }

}    