    
$text-color : white;


.container_img{
    position: relative;
    margin-bottom: 50px;

    img{
        height: 223px;
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
        border:1px solid black;
        filter: brightness(0.4); // baisse la luminosité
        display: block;
        
    }

    h1{
        color: $text-color;
        position: absolute;     
        top: 50%;               
        left: 50%;              
        transform: translate(-50%, -50%); 
        margin: 0;
        text-align: center;
        font-weight: bold;

        font-size: clamp(24px, 5vw, 48px); 
        white-space: nowrap;
    }



    @media (max-width: 375px) {
        margin-bottom: 22px;
    

        img{
            max-width: 335px;
            max-height: 111px;
            border-radius: 10px;
            margin: 0 auto;

        }

        h1{
            max-width: 225px;
            width: 60%;
            text-align: left;
            font-size: 24px;
            white-space: normal;
            left: 35%;              


        }

    }



}

