$elements_color : #FF6060;


.container_rating{
    display: flex;
    gap : 10px;

    .star{
        font-size: clamp(18px, 2vw, 24px);
        color: #E3E3E3;
    }

    .star.active{
        color: $elements_color;
    }




    @media (max-width: 375px) {
        gap: 5px;
        .star{
            font-size: 13px;
        }
    }
}