$elements_color : #FF6060;



.Host_container{
    display: flex;

    .host-name {
        white-space: pre-line;
    }

    img{
        border-radius: 64px;
        height: 64px;
        width: 64px;
    }

    P{
        text-align: right;
        white-space: pre-line;
        color: $elements_color;
        margin-right: 10px ;
    }   
}